     * {
             -webkit-box-sizing: border-box;
             box-sizing: border-box;
             margin: 0;
             padding: 0;
         }
         
         @import url('https://fonts.googleapis.com/css?family=Roboto');
         @import url('https://fonts.googleapis.com/css?family=Sintony');
         @import url('https://fonts.googleapis.com/css?family=Coustard');
         html {}
         
         html #logo {
             position: fixed;
             float: left;
             display: block;
             padding: 0px;
             margin: 0px;
             left: 5%;
             top: 0px;
             z-index: -1;
             opacity: .08;
             filter: blur(2px);
         }
         
         body {
             background: linear-gradient(to bottom right, #f2f3ae, #edd382);
             background-size: cover;
             margin-left: 0;
             margin-right: 0;
             margin-top: 0;
             margin-bottom: 0;
         }
         
         header h1 {
             text-align: left;
             margin-left: 34%;
             font-size: 48px;
             font-family: 'Roboto', sans-serif;
         }
         
         header h2 {
             color: black;
             text-align: left;
             margin-left: 32%;
             font-size: 32px;
             font-family: 'Roboto', sans-serif;
         }
         
         p {
             color: white;
             font-size: 28px;
             text-shadow: 22px 2p 4px black;
         }
         
         h1 {
             color: black;
         }
         
         background-color: rgba(11,
         123,
         234,
         0.8);
     }
     h2 {
         color: white;
     }
     h3 {
         font-family: 'Sintony', sans-serif;
         color: black;
         padding: 5px;
         margin-bottom: 15px;
         height: 45px;
         font-size: 28px;
         text-align: center;
         text-shadow: 2px 2p 4px black;
         background-color: rgba(11, 123, 234, 0.8);
     }
     header {
         width: 100%;
         height: 145px;
         padding-top: 35px;
         background-color: #fc9e4f;
         border-bottom: 4px solid #020122;
         box-shadow: 0px 5px 46px gray;
     }
     header img {
         display: inline-block;
         float: left;
         margin-left: 5%;
     }
     #top {
         display: block;
         width: 80%;
         margin-top: 25px;
         margin-left: 10%;
         margin-bottom: 525px;
     }
     hr {
         display: block;
         position: relative;
         padding: 0;
         margin: 8px auto;
         height: 0;
         width: 100%;
         max-height: 0;
         font-size: 1px;
         line-height: 0;
         clear: both;
         border: none;
         border-top: 0px solid #aaaaaa;
     }
     blockquote {
         display: inline-block;
         width: 500px;
         float: right;
         color: black;
         font-family: 'Sintony', sans-serif;
         margin-top: 265px;
         padding: 65px 45px 65px 45px;
         font-size: 1.5em;
         margin: auto;
         background-color: rgba(237, 211, 130, 0.6);
         border-top-right-radius: 45px;
         border-bottom-right-radius: 45px;
         box-shadow: 0px 5px 46px gray;
     }
     #i1 {
         display: block;
         float: left;
         margin-left: 10%;
         width: 400px;
         box-shadow: -20px 5px 46px gray;
     }
     #bio {
         width: 70%;
         color: white;
         font-size: 22px;
         font-family: 'Sintony', sans-serif;
         text-align: left;
         padding: 4% 4%;
         border-left: 10px solid #ffa949;
         margin: 5% 15% 60px;
         background: #434a52 url(images/Dolores-Mission.jpg) no-repeat center;
         background-size: cover;
         border-top-right-radius: 45px;
         border-bottom-right-radius: 45px;
         box-shadow: 0px 5px 46px gray;
         clear: both;
     }
     #co {
         width: 70%;
         color: white;
         font-size: 22px;
         font-family: 'Sintony', sans-serif;
         text-align: left;
         padding: 4% 4%;
         border-left: 10px solid #ffa949;
         margin: 5% 15% 60px;
         background: #434a52 url(images/cafe.jpg) no-repeat center;
         background-size: cover;
         border-top-right-radius: 45px;
         border-bottom-right-radius: 45px;
         box-shadow: 0px 5px 46px gray;
     }
     #more {
         width: 70%;
         color: black;
         font-size: 22px;
         font-family: 'Sintony', sans-serif;
         text-align: left;
         padding: 4% 4%;
         border-left: 10px solid #fc9e4f;
         margin: 5% 15% 60px;
         background: url(images/bread.png) no-repeat center;
         background-size: cover;
         border-top-right-radius: 45px;
         border-bottom-right-radius: 45px;
         box-shadow: 0px 5px 46px gray;
     }
     #i2 {
         display: inline-block;
         float: right;
         margin: 18px;
         border: black 3px solid;
     }
     ol {
         padding-left: 25px;
     }
     ol li {
         color: white;
         list-style-type: disc;
         padding: 12px;
     }
     ol li img {
         padding: 0;
         margin: 0;
         border: black 3px solid;
     }
     footer {
         width: 100%;
         height: 55px;
         padding-top: 9px;
         background-color: #fc9e4f;
         border-top: 4px solid #020122;
         box-shadow: 0px -5px 46px gray;
     }
     footer p {
         color: black;
         font-family: 'Coustard', serif;
         font-size: 24px;
         margin: auto;
         text-align: center;
     }


/*Media Queries*/


     @media only screen and (max-width: 480px) {
         html #logo {
             width: 300px;
         }
         
         header {
             height: 200px;
         }
         header h1 {
             text-align: left;
             margin-left: 5%;
             font-size: 38px;           
         }
         
         header h2 {
             color: black;
             text-align: left;
             margin-left: 4%;
             font-size: 22px;
         }
         header img {
             float:none;
             margin-left: 30%;
         }
         blockquote {
             width: 95%;
             margin-top: 20px;
         }
         
         #i1 {
             display: block;
             float: left;
             margin-left: 8%;
             width: 275px;
             box-shadow: -20px 5px 46px gray;
         }
         
         #i2 {
             width: 45%;
         }
         
         #bio {
             width: 92%;
             margin-left: 4%;
         }
         
         #co {
             width: 92%;
             margin-left: 4%;
         }
         
         #more {
             width: 92%;
             margin-left: 4%;
         }
         p {
             font-size: 26px;
         }
         
         footer {
             height: 92px;
         }
         
         h3 {
             height: 100px;
         }
     }

/*
@media only screen and (max-width: 481px) and (max-width: 1250px) {
         
         header {
             height: 160px;
         }
         header h1 {
             text-align: left;
             margin-left: 36%;
             font-size: 44px;           
         }
         
         header h2 {
             color: black;
             text-align: left;
             margin-left: 34%;
             font-size: 28px;
         }
         header img {
             float:left;
             margin-left: 10%;
         }
         blockquote {
             float: none;
             width: 500px;
             margin-top: 20px;
         }
         
         #i1 {
             display: block;
             float: none;
             margin-left: 45%;
             width: 50%;
             box-shadow: -20px 5px 46px gray;
         }
         
         #i2 {
             width: 38%;
         }
         
         #bio {
             width: 92%;
             margin-left: 4%;
         }
         
         #co {
             width: 92%;
             margin-left: 4%;
         }
         
         #more {
             width: 92%;
             margin-left: 4%;
         }
         p {
             font-size: 26px;
         }
         
         footer {
             height: 92px;
         }
         
         h3 {
             height: 100px;
         }
    }

         

     .group:after {
         content: "";
         display: table;
         clear: both;
     }
